<button class="btn btn-primary" (click)="setVisible()" >
  {{ visible? 'ocultar':'mostrar' }}
</button>

@if (  visible ) {
  <h2> {{ title }} </h2>
  @if ( nombres!= undefined && nombres.length > 0  ) {
    <table>
    
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
        </tr>
      </thead>
    
      <tbody>
        @for (item of nombres; track $index) {
        <tr>
            <td> {{ $index +1 }} </td>
            <td> {{ item }} </td>
        </tr>
        }
      </tbody>
    
    </table>

  }@else {
    <p>Tabla no disponible</p>
  }

}@else {

  <h2>Lo sentimos la pagina no esta disponible</h2>
}

